html, body {
    height: 100%
}

body {
    background-color: #264653;
    background-image: url("./Images/stock_market_graph.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    background-attachment: fixed;
}

.card {
    border:0;
}

.card-body {
    background-color: #366375;
    color: white;
}

.card-button {
    outline: none;
    margin-right: 10px;
    background-color: #e76f51;
    border-color: #e76f51;
    width: 100%;
    margin-bottom: 5px;
}

.card-button:hover {
    outline: none;
    margin-right: 10px;
    background-color: #366375;
    border-color: #e76f51;
    color: #e76f51;
}

.card-buttons {

}

.card-deck {
    justify-content: space-evenly;
}

.card-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-header {
    font-size: 2.5vh;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    color: #366375;
    background-color: white;
}

.cards-responsive {
    min-width: 30%;
    margin: 10px;
    flex: 0 1 !important;
}

.card-text {
    font-size: 2.2vh;
}

.card-title {
    text-align: center;
}

.home-header {
    color: #e76f51;
}

.home-sub-header {
    color: #e9c46a;
}

.home-paragraph {
    color: white;
}

.login-form {
    width: 100%;
}

.login-row {
    width: 100%;
    display: block;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: white;
    cursor: default;
}

.navbar-nav {
    float: right;
    flex-direction: row;
    text-align: right;
    margin-top: 5px;
    font-size: 1.15rem;
}

.Navlink {
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.Navlink:hover {
    color: #e76f51;
    text-decoration: none;
    margin-right: 20px;
}

.Navlink.active {
    color: #e76f51;
    text-decoration: underline;
    margin-right: 20px;
}

.search-card-deck{
    margin-left: 10px;
    margin-right: 10px;
}

.search-form {
    margin: 10px;
}

.search-label {
    font-size: 4vh;
    color: white;
}

.search-form-control {
    text-transform: uppercase;
    color: #2a9d8f !important;
    font-weight: bold;
}

.text-muted {
    color: #e9c46a !important;
    font-size: 1.85vh;
}

#already-existing-user-button {
    margin-left: -10px;
    margin-bottom: 10px;
    color: #e76f51;
}

#chart-div {
    margin-bottom: 10px;
}

#join-user-button {
    background-color: #e76f51;
    border-color: #e76f51;
}

#login-buttons-div {
    display: flex;
    flex-direction: column;
}

#login-container {
    justify-content: center;
    max-width: 350px;
}

#login-new-user-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
    color: white;
}

#login-user-button {
    width: 100%;
    background-color: #e76f51;
    border-color: #e76f51;
}

#nav-bar {
    background-color: #264653;
}

#new-user-button {
    margin-left: -10px;
    margin-bottom: 10px;
    color: #e76f51;
}

#new-user-login-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
    color: white;
}

#myPortfolio-div {
    margin: 10px;
    height: 50vh;
}

#search-submit-button {
    background-color: #e76f51;
    border: #e76f51;
}

#summary-balance-div {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

#summary-balance {
    margin-right: 15px;
}

#summary-portfolio-balance {

}

#summary-myHoldings-div {
    margin: 10px;
}

#summary-report-tabs-tab-search {
    background-color: transparent;
    color: #f4a261;
}
#summary-report-tabs-tab-mostactivestocks {
    background-color: transparent;
    color: #f4a261;
}
#summary-report-tabs-tab-myholdings {
    background-color: transparent;
    color: #f4a261;
}
#summary-report-tabs-tab-myportfolio {
    background-color: transparent;
    color: #f4a261;
}

