.login-form {
    width: 100%;
}

.login-row {
    width: 100%;
    display: block;
}

.navbar-nav {
    float: right;
    flex-direction: row;
    text-align: right;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 1.15rem;
}

.Navlink{
    color: black;
    margin-right: 20px;
}

.Navlink:hover {
    color: rgb(0, 81, 255);
    text-decoration: none;
    margin-right: 20px;
}

.Navlink.active {
    color: rgb(0, 81, 255);
    text-decoration: underline;
    margin-right: 20px;
}

#already-existing-user-button {
    margin-left: -10px;
    margin-bottom: 10px;
}


#login-buttons-div {
    display: flex;
    flex-direction: column;
}

#login-container {
    justify-content: center;
    max-width: 350px;
}

#login-new-user-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
}

#login-user-button {
    width: 100%;
}

#nav-bar {
    background-color: rgb(255, 255, 255);
}

#new-user-button {
    margin-left:-10px;
    margin-bottom: 10px;
}

#new-user-login-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
}

