<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="connection.connection_string">server=localhost;database=FantasyStockTradingApp;user id=postgres;password=postgres;</property>
		<!--<property name="connection.url">jdbc:postgresql://localhost/FantasyStockTradingApp</property>		--><!-- BD Mane --><!--
		<property name="connection.driver_class">org.postgresql.Driver</property>		--><!-- DB Driver --><!--
		<property name="connection.username">postgres</property>		--><!-- DB User --><!--
		<property name="connection.password">12345</property>		--><!-- DB Password -->

		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>		<!-- DB Dialect -->
		<property name="hbm2ddl.auto">update</property>		<!-- create / create-drop / update -->

		<property name="show_sql">true</property>		<!-- Show SQL in console -->
		<property name="format_sql">true</property>		<!-- Show SQL formatted -->

		<mapping assembly="FantasyStockTradingApp"/>

	</session-factory>
</hibernate-configuration>

<!--"ConnectionStrings": {
"DefaultConnection": "User Id=postgres;Password=admin;Host=localhost;Port5432;Database=FantasyStockTradingApp;"
}-->